body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav {
  background-color: linear-gradient( rgb(7, 7, 7), rgb(22, 22, 22)) ;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

#title {
  color: blue;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about_us {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60%;
}